# Get editor completions based on the config schema
"$schema" = "https://starship.rs/config-schema.json"
# Inserts a blank line between shell prompts
add_newline = true
# [character] # The name of the module we are configuring is 'character'
# success_symbol = '[➜](bold green)'
format = """
$shlvl\
$directory\
$vcsh\
$git_branch\
$git_commit\
$fill\
$docker_context\
$c\
$golang\
$java\
$lua\
$nodejs\
$php\
$python\
$ruby\
$rust\
$terraform\
$vagrant\
$nix_shell\
$memory_usage\
$aws\
$gcloud\
$openstack\
$azure\
$nats\
$direnv\
$env_var\
$custom\
$sudo\
$cmd_duration\
$jobs\
$container\
$fill\
$username\
$hostname\
$localip\
$battery\
$status\
$time\
$line_break\
$character"""

# [directory]
# format = "[](fg:directory)[](fg:icon bg:directory)[](fg:directory bg:background)[ $path](bg:background)[](fg:background)"
# truncate_to_repo = false
# truncation_length = 0

[localip]
ssh_only = false
disabled = false
format = ":[$localipv4]($style)"

[hostname]
ssh_only = false
format = "[$ssh_symbol$hostname]($style)"

[time]
disabled = false
format = " [$time]($style) "

[battery]
disabled = false  # still only shows if a battery is detected
